*
{
	box-sizing: border-box
}

body
{
font-family: 'Raleway', sans-serif;
}
/* Start Header */


.header
{
	background: url(../Images/ban-compressor.jpg) no-repeat top center;
	background-size: cover;
	min-height: 500px;
	position: relative
}

.header .overlay
{
	position: absolute;
	color: #FFF;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.header h1
{
/*	margin-top: 120px;*/
	font-size: 60px;
	color: #fff;
	font-family: 'Kaushan Script', cursive;
/*	margin-bottom: 120px*/
}

.header .plan
{
	border: 1px solid firebrick;
	background-color: firebrick;
	border-radius: 3px;
	font-weight: bold;
	padding: 10px;
	width: 305px;
    margin-left: 16%;
	margin-bottom: 20px;
	cursor: pointer;
}

.header .order
{
	border: 1px solid #FED136;
	background-color: firebrick;
	border-radius: 3px;
	font-weight: bold;
	padding: 10px;
	margin-left: 17%;
	margin-right: 16%;
	cursor: pointer
}

.header .plan:hover
{
	background-color: brown
}

@media(max-width:420px)  /* Custom Media Not Found In BootStrap */ 
{
	 h1 {margin-top: 100px; font-size: 40px !important; margin-bottom: 70px !important}
	.header .overlay .plan {float: none; width: 220px}
}

@media(max-width:767px) 
{
	.header .overlay .plan {float: none; margin: 0 auto 20px}
}

@media (min-width:768px) and (max-width:991px) 
{
	.header .plan {width: 265px; margin-left: 10%}	
}

@media (min-width:992px) and (max-width:1199px) 
{
	.header .plan {width: 276px; margin-left: 15%}	
}

@media (min-width:1200px)
{	
	.header h1 {margin-top: 120px !important; font-size: 60px; margin-bottom: 120px !important}
	.header .plan {width: 300px; margin-left: 17%}
}

/* End Header */

/* Start Navbar */
.navbar {background-color: firebrick; color: #FFF; padding: 20px 0}
.navbar .brand {font-size: 25px; font-weight: bold; color: #FFF; font-family: 'Kaushan Script', cursive}
.navbar .normal-links  li
{
	display: inline-block; 
	margin-right: 20px; 
	font-size: 18px; 
	margin-top: 5px; 
	font-family: 'Raleway', sans-serif;
	cursor: pointer
}
.fixed {position: fixed; width: 100%; top: 0; left: 0; z-index: 10000}
.navbar .btn 
{
	position: relative; 
	float: right; 
	width: 30px; 
	height: 30px; 
	border: 1px solid #fff; 
	background-color: transparent; 
	border-radius: 3px;
	cursor: pointer
}
.navbar .btn span 
{
	width: 18px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 5px;
    top: 5px;
}
.navbar .btn span:nth-of-type(2) {top: 10px}
.navbar .btn span:nth-of-type(3) {top: 16px}
.navbar .btn span:nth-of-type(4) {top: 21px}

.navbar .navbar-links .dropdown-links 
{
	border-top: 1px solid #fff;
	margin-top: 20px;
	padding: 10px;
	display: none
}
.navbar .navbar-links .dropdown-links li 
{
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	cursor: pointer;
	transition: padding-left .5s ease-in-out
}

.navbar .navbar-links .dropdown-links li:hover
{
	background-color: #FFF;
	color: firebrick;
	padding-left: 15px;
	cursor: pointer
}
/* End Navbar */
/* Start Featuers */

.features {padding: 50px 0}
.features .h1 {font-size: 40px; color: #555; margin-bottom: 25px; margin-top: 25px; margin-top: 0}

.feat
{
	width: 33.33333333%;
	padding: 0 15px;
	color: #555;
}

.feat p {color: #e0e0e0; margin-top: 0}

@media (max-width: 767px) /* Extra Small Screen */
{
	.features .h1 {margin-top: 30px}
	.features .feat {width: 100%; margin-bottom: 30px}
}

@media (min-width: 768px) and (max-width: 991px) /* Small Screen */ 
{
	.features .h1 {margin-top: 30px}
	.features .feat:first-of-type {width: 99%; margin-bottom: 30px}
	.features .feat:not(:first-of-type) {width: 49%; margin: 0 3px 30px 3px}
}

@media (min-width: 992px) and (max-width: 1199px) /* Medium Screen */
{
	.feat {width: 32.33333%; margin-left: 3px}
}

@media (min-width: 1200px) /* Large Screen */
{
	.feat {width: 32.33333% !important; margin-left: 3px;}
}
/* End Featuers */


/* Start About Us */

.about-us {padding: 50px 0; background-color: #F0F0F0}
.about-us .h1 {font-size: 40px; color: #555; margin-bottom: 25px; margin-top: 0}
.about-us p {color: #888; margin-bottom: 0}
/* End About Us */

/* Start Our Work */
.our-work {padding: 50px 0; background-color: #FFF}
.our-work .h1 {color:#555; font-size: 40px; margin-top: 0}
.our-work .image {height: 200px}

@media (max-width: 767px) /* Extra Small Screen */
{
	.our-work .image {width: 100%}
}
@media (min-width: 768px) and (max-width: 991px) /* Small Screen */
{
	.our-work .image {width: 50%}
}

@media (min-width: 992px) and (max-width: 1199px) /* Medium Screen */
{
	.our-work .image {width: 33.33333%}
}
@media (min-width: 1200px) /* Large Screen */
{
	.our-work .image {width: 25%}
	
}
/* End Our Work */

/* Start Pricing Table */
.pricing-table {padding: 50px 0; background-color: #F0F0F0}
.pricing-table .h1 {color: #555; font-size: 40px; margin-bottom: 25px; margin-top: 0}
.pricing-table p {color: #888; margin-bottom: 50px}
.pricing-table .pricing-plan {width: 32.3333%; position: relative}
.pricing-table .pricing-plan:first-of-type {left:32.3333%; margin: 0 1% 0 1%}
.pricing-table .pricing-plan:nth-of-type(2) {right:34.3333%}
.pricing-table .pricing-plan:not(:first-of-type) {margin-top: 40px}
.pricing-table .pricing-plan:first-of-type span {padding: 50px 20px 30px 20px}
.pricing-table .pricing-plan h3 
{
	color: #555;
	background-color: beige; 
	margin: 0; 
	padding: 15px 20px; 
	font-size: 22px;
	border-bottom: 1px solid firebrick;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px
}
.pricing-table .pricing-plan span 
{    
	padding: 30px 20px 10px 20px;
    font-size: 75px;
    font-weight: bold;
    display: inherit;
    width: initial;
    background-color: beige;
	color: #555
}
.pricing-table .pricing-plan ul li {padding: 10px 20px; background-color: #fff; color: #555; margin-bottom: 10px}
.pricing-table .pricing-plan ul li:not(:last-of-type) { margin-bottom: 2px}
.pricing-table .pricing-plan button 
{
	
	-webkit-appearance: button;
    display: block;
    width: -webkit-fill-available;
    padding: 10px;
    background-color: firebrick;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
	transition: all .3s ease-in-out
}

.pricing-table .pricing-plan button:hover {box-shadow: 5px 5px 2px #ccc}

@media (max-width: 767px) /* Extra Small Screen */
{
	.pricing-table .pricing-plan {width: 100% !important}
	.pricing-table .pricing-plan:not(:last-of-type) button {margin-bottom: 50px}
	.pricing-table .pricing-plan:first-of-type {left:auto; margin:auto}
	.pricing-table .pricing-plan:nth-of-type(2) {right: auto}
	.pricing-table .pricing-plan:not(:first-of-type) {margin-top: 0}
	.pricing-table .pricing-plan:first-of-type span {padding: 50px 20px 30px 20px}
}

@media (min-width: 768px) and (max-width: 991px) /* Small Screen */
{
	
}

@media (min-width: 992px) and (max-width: 1199px) /* Medium Screen */
{
	
}

@media (min-width: 1200px) /* Large Screen */
{
	
	
}
/* End Pricing Table */

/* Start Testimonial */
.testimonial {padding: 50px 0}
.testimonial .h1 {color: #555; font-size: 40px; margin: 0 auto 25px}
.testimonial .person-say 
{
	background-color: #F1F1F1; 
	padding: 20px 30px; 
	margin-bottom: 10px; 
	border-radius: 10px; 
	border:1px solid #DDD
} 
.testimonial .person-say .test-img {width: 100px}
.testimonial .person-say h3 {color: #555; margin: 5px auto 0 auto}
.testimonial .person-say p {color: #AAA; margin-top: 5px}

@media (max-width:767px)
{
	.testimonial .person-say {width: 100%}
	.testimonial .person-say:not(:last-of-type) {margin-bottom: 25px}
	.testimonial .person-say .test-img {margin:auto; float: none}
	.testimonial .person-say .test-info {width: 100%; text-align: center}
	.testimonial .person-say .test-info p {margin-bottom: 0}
}

@media (min-width:769px) and (max-width:991px)
{
	.testimonial .person-say:first-of-type {width: 80%; margin-left: 10%; margin-right: 10% }
	.testimonial .person-say {width: 49%}
	.testimonial .person-say:nth-of-type(2) {margin-right: 1% }
	.testimonial .person-say .test-img {margin-right: 7%}
	.testimonial .person-say:first-of-type .test-img {margin-right: 4%}
	.testimonial .person-say:first-of-type .test-info {width: 75%}
	.testimonial .person-say .test-info {width: 58%}
}
@media (min-width:992px) 
{
	.testimonial .person-say:first-of-type {width: 99%}
	.testimonial .person-say {width: 49%}
	.testimonial .person-say:nth-of-type(2) {margin-right: 1% }
}

@media (min-width: 992px) and (max-width: 1199px)
{
	.testimonial .person-say .test-img {margin-right: 5%}
	.testimonial .person-say:first-of-type .test-img {margin-right: 2.5%}
	.testimonial .person-say:first-of-type .test-info {width: 84%}
	.testimonial .person-say .test-info {width: 65%}
}
@media (min-width: 1200px)
{
	.testimonial .person-say .test-img {margin-right: 5%}
.testimonial .person-say:first-of-type .test-img {margin-right: 2.5%}
.testimonial .person-say:first-of-type .test-info {width: 85%}
.testimonial .person-say .test-info {width: 70%}
}
/* End Testimonial */

/* Start Product Info */
.product-info {padding: 50px 0; background-color: #F0F0F0}
.product-info .h1 {color: #555; font-size: 40px; margin-top: 0; /*margin-bottom: 18px*/}
.product-info .content-tabs li 
{
	display: inline-block;
	background-color: firebrick;
	color: #FFF;
	padding: 10px 20px;
	height: 100%;
	border-bottom: 1px solid #FFF;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer
}
.product-info .content-tabs li:after 
{
	content: "";
	position: relative;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 1000px;
	border-width: 0;
	border-style: solid;
	color: red
}

.product-info .content-tabs .selected {background-color: #FFF; color: firebrick; font-weight: bold}
.product-info .content-tabs li:first-of-type {border-top-left-radius: 5px}
.product-info .content-tabs li:last-of-type {border-top-right-radius: 5px}
.product-info .content-tabs li:hover {background-color: #FFF; color: firebrick}
.product-info .content-info > div
{
	background-color: #FFF; 
	color: #333;
	padding: 20px; 
	margin-bottom: 10px; 
	border-radius: 5px; 
	border-top-left-radius: 0
}
.product-info .content-info > div:not(:first-of-type) {display:none}
.product-info .content-info  .par {float: left; width: calc(100% - 120px); margin-left: 20px; color: #888}
.product-info .content-info  .about-img {float: left; width: 100px; margin-top: 15px}
.product-info .content-info  .about-img img {border-radius: 5px}
@media (max-width:767px)
{
	.product-info .content-tabs li {display: block}
	.product-info .content-tabs li:first-of-type {border-top-left-radius: 5px; border-top-right-radius: 5px}
	.product-info .content-tabs li:last-of-type {border-radius: 0}
	
	.product-info .content-info  .par {float: none; width: 100%; margin: 0}
	.product-info .content-info  .about-img {float: none; width: 100px}
}
/* End Product Info */

/* Start Footer */
.footer {background-color: #333; color: #B4B4B4; padding: 50px 0; font-size: 20px; font-family: initial}
.footer .copyright {width: 50%}
.footer .design {width: 50%}

@media (max-width: 767px)
{
	.footer {font-size: 16px}
	.footer .copyright,
	.footer .design {float: none; margin: 0 auto 20px auto}
}
/* End Footer */
/********* Start Media Setting *********/

@media (max-width:767px)  /* Extra Small Phones */
{
	.visible-xs {display:block !important}
	.hidden-xs {display: none !important}
	.text-center-xs {text-align: center}
	.responsive-paragraph {font-size: 18px}
}


@media (min-width:768px) and (max-width:991px) /* Small Screens */
{
	.container {width: 750px}
	.visible-sm {display: block !important}
	.hidden-sm {display: none !important}
	.text-center-sm {text-align: center}
	.responsive-paragraph {font-size: 20px}
	
	
	.header .plan {width: 265px; margin-left: 10%}
	
}

@media (min-width:992px) and (max-width:1199px) /* Medium Screens */
{
	.container {width: 970px}
	.visible-md {display: block !important}
	.hidden-md {display: none !important}
	.text-center-md {text-align: center}
	.responsive-paragraph {font-size: 22px}
	
	
	.header .plan {width: 276px; margin-left: 15%}
	
}


@media (min-width:1200px) /* Large Screens */
{
	
	.container {width: 1170px}
	.visible-lg {display: block !important}
	.hidden-lg {display: none !important}
	.text-center-lg {text-align: center}
	.responsive-paragraph{font-size: 23px}
	
	
	.header h1 {margin-top: 100px; font-size: 60px; margin-bottom: 140px}
	.header .plan {width: 300px; margin-left: 17%}

}

/********* End Media Setting ********/

/********* Start FrameWork *********/

.text-center {text-align: center}
.container {margin: auto; padding-right: 15px; padding-left: 15px}
.clearfix {clear: both}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {display: none}

.hidden-xs,
.hidden-sm,
.hidden-md,
.hidden-lg {display: block}

.float-left {float: left}
.float-right {float: right}

.h1 {font-size: 2em}
.h2 {font-size: 1.5em}

.responsive-paragraph{line-height: 1.7}
.img-responsive {width: 100%}
.img-circle {border-radius: 50% !important}
.img-thumbnail {padding: 3px; background-color: #FFF; border: 1px solid #CCC}
.list-unstyled {list-style: none; margin: 0; padding: 0}
/********* End FrameWork *********/